# Dependencies
node_modules/
.pnpm-store/

# Production Build
dist/
build/
.vite/

# Local Environment & Secrets
.env
.env.local
.env.*.local
*.pem
*.key

# Real & Sensitive Telemetry Data Logs
*realtimelog*
*.real.json
*raw*.json
*.log

# System & IDE files
.DS_Store
Thumbs.db
.vscode/
.idea/
